.App {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.DateHeader {
  font-size: medium;
  font-weight: normal;
  color: dimgray;
}

.TempContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.MaxTemp {
  font-size: large;
  color: black;
  margin: 10px;
}

.MinTemp {
  font-size: large;
  color: dimgray;
  margin: 10px;
}

.Today {
  background-color: lightgray;
}
